## Today we are going to test your knowledge in SQL. Please refer to  http://www.w3schools.com/sql/ for any questions you might have over the material. Each question must be solved in only ONE SQL statement. No pandas or numpy operations may be used!
### These questions get progressively more difficult. Look through the website above and stackoverflow for hints on solving the more challenging problems. 
### Unfortunately, Brad will only be able to give help on questions with difficulty 7 and higher. He apologizes for the inconvenience.

#### First create a connection to your postgresql database here

In [112]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgres://qsdtkqbo:mwPtZGaA3CdhC22_wn3P7xbSGFlRDvgJ@elmer.db.elephantsql.com:5432/qsdtkqbo')
pd.read_sql("SELECT * FROM information_schema.tables;", engine)[:3]

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,qsdtkqbo,public,pg_stat_statements,VIEW,None,None,None,None,None,NO,NO,None
1,qsdtkqbo,public,django_migrations,BASE TABLE,None,None,None,None,None,YES,NO,None
2,qsdtkqbo,pg_catalog,pg_type,BASE TABLE,None,None,None,None,None,YES,NO,None

#### Let's use the "website_imdb" table for our queries

## Difficulty => 1

### Print out all the drama movies

In [25]:
pd.read_sql("SELECT * FROM website_topmovies WHERE genre = 'Drama';", engine)[:3]

,id,created,title,rank,genre,poster,actors,gross,awards,released,imdbRating,summary,director,language,rated
0,260,2016-11-11 20:11:12.752047+00:00,Fight Club,10,Drama,https://images-na.ssl-images-amazon.com/images...,"Edward Norton, Brad Pitt, Meat Loaf, Zach Grenier",37023395,Nominated for 1 Oscar. Another 10 wins & 31 no...,1999-10-15 00:00:00+00:00,8,"An insomniac office worker, looking for a way ...",David Fincher,English,R
1,266,2016-11-11 20:11:12.753237+00:00,One Flew Over the Cuckoo's Nest,16,Drama,https://images-na.ssl-images-amazon.com/images...,"Michael Berryman, Peter Brocco, Dean R. Brooks...",112000000,Won 5 Oscars. Another 30 wins & 13 nominations.,1975-11-21 00:00:00+00:00,8,A criminal pleads insanity after getting into ...,Milos Forman,English,R
2,328,2016-11-11 20:11:12.761687+00:00,Requiem for a Dream,78,Drama,https://images-na.ssl-images-amazon.com/images...,"Ellen Burstyn, Jared Leto, Jennifer Connelly, ...",3609278,Nominated for 1 Oscar. Another 32 wins & 61 no...,2000-12-15 00:00:00+00:00,8,The drug-induced utopias of four Coney Island ...,Darren Aronofsky,English,R

### Print out all the movies with a director with 'C' or 'S' in their last names. Ignore any movies with multiple directors.

In [100]:
pd.read_sql("SELECT * FROM website_topmovies WHERE (director LIKE '%% C%%' OR director LIKE '%% S%%') AND director NOT LIKE '%%,%%'", engine)[:5]

,id,created,title,rank,genre,poster,actors,gross,awards,released,imdbRating,summary,director,language,rated
0,252,2016-11-11 20:11:12.750459+00:00,The Godfather,2,"Crime, Drama",https://images-na.ssl-images-amazon.com/images...,"Marlon Brando, Al Pacino, James Caan, Richard ...",134821952,Won 3 Oscars. Another 23 wins & 27 nominations.,1972-03-24 00:00:00+00:00,9,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"English, Italian, Latin",R
1,253,2016-11-11 20:11:12.750644+00:00,The Godfather: Part II,3,"Crime, Drama",https://images-na.ssl-images-amazon.com/images...,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",57300000,Won 6 Oscars. Another 10 wins & 20 nominations.,1974-12-20 00:00:00+00:00,9,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"English, Italian, Spanish, Latin, Sicilian",R
2,256,2016-11-11 20:11:12.751213+00:00,Schindler's List,6,"Biography, Drama, History",https://images-na.ssl-images-amazon.com/images...,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",96067179,Won 7 Oscars. Another 71 wins & 33 nominations.,1994-02-04 00:00:00+00:00,8,"In German-occupied Poland during World War II,...",Steven Spielberg,"English, Hebrew, German, Polish",R
3,267,2016-11-11 20:11:12.753396+00:00,Goodfellas,17,"Biography, Crime, Drama",https://images-na.ssl-images-amazon.com/images...,"Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...",46836394,Won 1 Oscar. Another 37 wins & 32 nominations.,1990-09-21 00:00:00+00:00,8,Henry Hill and his friends work their way up t...,Martin Scorsese,"English, Italian",R
4,274,2016-11-11 20:11:12.754472+00:00,It's a Wonderful Life,24,"Drama, Family, Fantasy",https://images-na.ssl-images-amazon.com/images...,"James Stewart, Donna Reed, Lionel Barrymore, T...",16970474,Nominated for 5 Oscars. Another 6 wins & 1 nom...,1947-01-07 00:00:00+00:00,8,An angel helps a compassionate but despairingl...,Frank Capra,English,PG

## Difficulty => 3

### Print out the gross of each director's highest grossing movie. Filter nan.

In [99]:
pd.read_sql('SELECT MAX(gross), director FROM website_topmovies GROUP BY director', engine)[:5]

        max                   director
0  23272306               Bryan Singer
1   3609278           Darren Aronofsky
2  44988180               Tom McCarthy
3  16970474        Carl Theodor Dreyer
4  16970474  Stanley Donen, Gene Kelly

### Print out the gross of each director's highest grossing movie. Order by gross desc. Filter nan.

In [98]:
pd.read_sql('SELECT MAX(gross), director FROM website_topmovies GROUP BY director ORDER BY MAX(gross) DESC', engine)[:5]

         max                   director
0  936627416                J.J. Abrams
1  533316061          Christopher Nolan
2  460935665               George Lucas
3  422783777  Roger Allers, Rob Minkoff
4  414984497                Lee Unkrich

## Difficulty => 5

### Print out the movie title, gross, and director of each director's highest grossing movie. Order by gross desc. Filter nan.

In [101]:
pd.read_sql('SELECT MAX(gross), title, director FROM website_topmovies GROUP BY title, director ORDER BY MAX(gross) DESC', engine)[:5]

         max                               title                   director
0  936627416        Star Wars: The Force Awakens                J.J. Abrams
1  533316061                     The Dark Knight          Christopher Nolan
2  460935665  Star Wars: Episode IV - A New Hope               George Lucas
3  448130642               The Dark Knight Rises          Christopher Nolan
4  422783777                       The Lion King  Roger Allers, Rob Minkoff

### Print out the movie title, rating, and director of each director's highest rated movie if that director has directed more than one movie. Order by rating desc. Filter nan.

In [182]:
pd.read_sql('SELECT DISTINCT ON (director) director, title, MAX("imdbRating") FROM website_topmovies GROUP BY director, title ORDER BY director, MAX("imdbRating") DESC', engine)[:5]

                  director                title  max
0  Aamir Khan, Amole Gupte  Like Stars on Earth    8
1              Adam Elliot         Mary and Max    8
2           Akira Kurosawa              Yojimbo    8
3    Alejandro G. I침치rritu         The Revenant    8
4         Alfred Hitchcock              Rebecca    8

## Difficuty => 7

### Print out the released date, title, and the season (winter, spring, summer, fall) in which each movie was released. Let's assume for simplicity sake that seasons end at the end of each month instead of on the 21st.

In [187]:
pd.read_sql('SELECT released, title, CASE WHEN date_part(month, released) > 10 THEN "winter" END FROM website_topmovies', engine)

ProgrammingError: (psycopg2.ProgrammingError) column "month" does not exist
LINE 1: SELECT released, title, CASE WHEN date_part(month, released)...
                                                    ^
 [SQL: 'SELECT released, title, CASE WHEN date_part(month, released) > 10 THEN "winter" END FROM website_topmovies']

### Print out the released date, title, and the relation to today's date (disregard year). If the movie came out before today's month, print 'before' in the relationship column. If the movie came out after todays month, print out 'after' in the relationship column. If the movie was released in the same month, but not the same day, print out 'close'. If the movie came out on today's day and month print 'match'

ProgrammingError: (psycopg2.ProgrammingError) syntax error at or near "FROM"
LINE 1: ...ASE WHEN released < "1990/10/10" THEN 1 ELSE NULL FROM websi...
                                                             ^
 [SQL: 'SELECT CASE WHEN released < "1990/10/10" THEN 1 ELSE NULL FROM website_topmovies']

## Difficulty => 9

### There is another table in my database called 'trump_tweets'. Print out all the times Trump has sent a tweet with a movie title in the text. The movie title must have a length greater than 1.

### Print out a movie if it is included in the following groups:
* Has the longest runtime
* Is created by the director who has the most imdbvotes
* Has been translated into more than 4 languages
* Has won 2 Oscars

### Make sure each movie is printed out at most one time!

## Good job on completing this assignment! You should now be ready for any SQL-based problem thrown at you in the future!

#### If you haven't finished the assignment, scroll back up. This message isn't for you.